<div class="footer">
    <p class="author">Made by Marcos Villanueva</p>
    <div class="footer-links-container">
            <a class="footer-link" href="https://github.com/mva919"><i class="fa-brands fa-github github"></i></a>
            <a class="footer-link" href=""><i class="fa-brands fa-linkedin linkedin"></i></a>
    </div>
    
</div>

</body>
</html>