<!-- header -->
<%- include ("partials/header") %> 

<h1 class="title">How it works</h1>

<div class="work-description">
    <i class="fa-solid fa-gears work-icon"></i>
    <p>I built this project weather app using Node.js, Express.js, EJS, and the OpenWeatherMap API. 
        I also use body-parser to validate parse the JSON sent from OpenWeatherMap. EJS helped with 
        reducing repetition as I created a template for the header and footer of the website. It also 
        helped with rendering the search results to the user. 
    </p>
</div>

<!-- footer -->
<%- include ("partials/footer") %> 