<%- include ("partials/header") %> 

<h1>Weather</h1>
<p>Search a city you wish to see the weather for.</p>

<form action="/" method="post">
    <input type="text" name="weatherSearch" id="">
    <button type="submit" name="weatherSubmit">Search</button>
</form>



<%- include ("partials/footer") %> 